{% load static %}
<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl" dir="rtl">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% block title %}

    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/ico/favicon.ico' %}">
	<meta name="theme-color" content="#5A8DEE">
    
    <!-- BEGIN: Vendor CSS-->
    {% include 'base/style.html' %}
    <!-- END: Page CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="horizontal-layout horizontal-menu navbar-sticky 2-columns   footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    {% include 'base/header.html' %}
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    {% include 'base/menu.html' %}
    <!-- END: Main Menu-->
    

  
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Dashboard Analytics Start -->
            {% block content %}

            {% endblock %}
            <!-- Dashboard Analytics end -->
        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    {% include 'base/customizer.html' %}
    <!-- End: Customizer-->

    <!-- BEGIN: Footer-->
    {% include 'base/footer.html' %}
    <!-- END: Footer-->


    <!-- BEGIN: Theme JS-->
    {% include 'base/script.html' %}
    <!-- END: Theme JS-->

    {% block pagejs %}
    
    {% endblock %}
    
  </body>
  <!-- END: Body-->
</html>