{% load static %}

<!-- Buynow Button-->
<div class="buy-now"><a href="#" target="_blank" class="btn btn-danger">ارتباط با ما</a>

</div>
<!-- demo chat-->
<div class="widget-chat-demo"><!-- widget chat demo footer button start -->
    <button class="btn btn-primary chat-demo-button glow px-1"><i class="livicon-evo" data-options="name: comments.svg; style: lines; size: 24px; strokeColor: #fff; autoPlay: true; repeat: loop;"></i></button>
    <!-- widget chat demo footer button ends -->
    <!-- widget chat demo start -->
    <div class="widget-chat widget-chat-demo d-none">
    <div class="card mb-0">
        <div class="card-header border-bottom p-0">
        <div class="media m-75">
            <a href="JavaScript:void(0);">
            <div class="avatar mr-75">
                <img src="{% static 'assets/images/portrait/small/avatar-s-2.jpg' %}" alt="avtar images" width="32" height="32">
                <span class="avatar-status-online"></span>
            </div>
            </a>
            <div class="media-body">
            <h6 class="media-heading mb-0 mt-n25"><a href="javaScript:void(0);">جان اسنو</a></h6>
            <span class="text-muted font-small-3">فعال</span>
            </div>
            <i class="bx bx-x widget-chat-close float-right my-auto cursor-pointer"></i>
        </div>
        </div>
        <div class="card-body widget-chat-container widget-chat-demo-scroll">
        <div class="chat-content">
            <div class="badge badge-pill badge-light-secondary my-1">امروز</div>
            <div class="chat">
            <div class="chat-body">
                <div class="chat-message">
                <p>لورم ایپسوم متن ساختگی</p>
                <span class="chat-time">7:45 ق.ظ</span>
                </div>
            </div>
            </div>
            <div class="chat chat-left">
            <div class="chat-body">
                <div class="chat-message">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <span class="chat-time">7:50 ق.ظ</span>
                </div>
            </div>
            </div>
            <div class="chat">
            <div class="chat-body">
                <div class="chat-message">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                <span class="chat-time">8:01 ق.ظ</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="card-footer border-top p-1">
        <form class="d-flex" onsubmit="widgetChatMessageDemo();" action="javascript:void(0);">
            <input type="text" class="form-control chat-message-demo mr-75" placeholder="اینجا بنویسید ...">
            <button type="submit" class="btn btn-primary glow px-1"><i class="bx bx-paper-plane"></i></button>
        </form>
        </div>
    </div>
    </div>
    <!-- widget chat demo ends -->

</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<footer class="footer footer-static footer-light">
  <p class="clearfix mb-0"><span class="float-left d-inline-block">ارائه شده در وب‌سایت <a href="https://www.rtl-theme.com" target="_blank">راست‌چین</a></span><span class="float-right d-sm-inline-block d-none">ساخته شده با<i class="bx bxs-heart pink ml-50 font-small-3"></i></span>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
  </p>
</footer>