{% load static %}
    <script src="{% static 'assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.min.js' %}"></script>
    <script src="{% static 'assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
    <script src="{% static 'assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
    
    <script src="{% static 'assets/vendors/js/charts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendors/js/extensions/swiper.min.js' %}"></script>
    
    <script src="{% static 'assets/js/scripts/configs/vertical-menu-light.js' %}"></script>
    <script src="{% static 'assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'assets/js/core/app.js' %}"></script>
    <script src="{% static 'assets/js/scripts/components.js' %}"></script>
    <script src="{% static 'assets/js/scripts/footer.js' %}"></script>
    <script src="{% static 'assets/js/scripts/customizer.js' %}"></script>
    <script src="{% static 'assets/js/datepicker/jquery.md.bootstrap.datetimepicker.js' %}"></script>
    <script src="{% static 'assets/js/jquery/jquery-3.5.1.min.js' %}"></script>

    