{% load static %}    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/charts/apexcharts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/extensions/swiper.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themes/semi-dark-layout.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/dashboard-ecommerce.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datepicker/jquery.md.bootstrap.datetimepicker.style.css' %}">