{% extends 'base/manager/base.html' %}
{% load static %}

{% block title %}
    <title>جهاد دانشگاهی البرز | معاونت آموزشی</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/editors/quill/katex.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/editors/quill/monokai-sublime.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/editors/quill/quill.snow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/css/editors/quill/quill.bubble.css' %}">
{% endblock %}

<!-- BEGIN: Header -->
{% block header %}
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
        <div class="col-12">
            <h5 class="content-header-title float-left pr-1">ویرایش دوره</h5>
            <div class="breadcrumb-wrapper">
            <ol class="breadcrumb p-0 mb-0">
                <li class="breadcrumb-item"><a href="{% url 'manager_index' %}"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'course_list' %}">دوره ها</a>
                </li>
                <li class="breadcrumb-item active"><a href="{% url 'course_new' %}">ویرایش دوره</a>
                </li>
            </ol>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
<!-- END: Header-->

<!-- BEGIN: Body-->
{% block content %}
    <section>
      <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                    <h4 class="card-title">فرم ویرایش دوره جدید</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form method="POST" class="form form-horizontal">

                            {% csrf_token %}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="">نام دوره</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="position-relative has-icon-left">
                                            {{ form.title }}
                                            <div class="form-control-position">
                                              <i class="bx bx-detail"></i>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">آدرس اینترنتی</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="position-relative has-icon-left">
                                            {{ form.slug }}
                                            <div class="form-control-position">
                                              <i class="bx bx-link"></i>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">نویسنده</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="position-relative has-icon-left">
                                            {{ form.author }}
                                            <div class="form-control-position">
                                              <i class="bx bx-user"></i>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">محتوا</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div id="full-container" class="position-relative has-icon-left">
                                            {{ form.body }}
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">وضعیت</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="position-relative has-icon-left">
                                            {{ form.status }}
                                            <div class="form-control-position">
                                              <i class="bx bx-list-check"></i>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">وضعیت</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="position-relative has-icon-left">
                                            {{ form.publish }}
                                            <div class="form-control-position">
                                                <i class="bx bx-calendar"></i>
                                              </div>
                                          </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end ">
                                        <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                                        <button type="reset" class="btn btn-light-secondary mr-1 mb-1">بازنشانی</button>
                                    </div>
                                </div>
                            </div>                           
                        </form>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </section>
{% endblock %}
<!-- END: Body-->

<!-- BEGIN: Page JS-->
{% block pagejs %}
    <script src="{% static 'assets/vendors/js/ui/jquery.sticky.js' %}"></script>
    <script src="{% static 'assets/vendors/js/editors/quill/katex.min.js' %}"></script>
    <script src="{% static 'assets/vendors/js/editors/quill/highlight.min.js' %}"></script>
    <script src="{% static 'assets/vendors/js/editors/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/vendors/js/extensions/jquery.steps.min.js' %}"></script>
    <script src="{% static 'assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts/editors/editor-quill.js' %}"></script>

{% endblock %}
<!-- END: Page JS-->