{% extends 'base/manager/base.html' %}
{% load static %}

{% block title %}
    <title>جهاد دانشگاهی البرز | معاونت آموزشی</title>
{% endblock %}

<!-- BEGIN: Body-->
{% block content %}
    <section id="dashboard-analytics">
      <div class="row">
          <h2>لیست دوره ها</h2>
      </div>
    </section>
{% endblock %}
<!-- END: Body-->

<!-- BEGIN: Page JS-->
{% block pagejs %}
    <script src="{% static 'assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
{% endblock %}
<!-- END: Page JS-->